<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.china180.dao.TopicWordsDao">
	
	<select id="findTopicWordsByProjectId" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT topic_words 
		FROM topic_words_tbl 
		WHERE topic_words_tbl.project_id = #{project_id,jdbcType=VARCHAR}
	</select>
	
</mapper>